<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <main>
            
        </main>
        <%- include('../includes/navigation.ejs') %>
        <%- include('../includes/end.ejs') %>