* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: azure;
    font-family: Cambria;
    background-color: #2E5377;
}

#game-container {
    width: 500px;
    height: 500px;
    margin: 20px auto;
    box-shadow: 20px 20px 10px rgba(255,255,255,0.15),
                inset 5px 5px 5px rgba(0,0,0,0.2),
                inset -5px -5px 5px rgba(0,0,0,0.2);
}

#scores-row,
#player-codes {
    width:100%;
    margin-top:10px;
    text-align: center;
    display: inline-block;
}

#player-codes > span {
    padding: 10px;
    font-size: 1.75em;
    color: azure;
    font-family: Cambria;
}

#player-1-code {
    float: left;
}

#player-2-code {
    float: right;
}

#scores-row > span{
    margin: 10px;
    font-size: 1.25em;
}

#game {
    width: 360px;
    height : 360px;
    border: 1px solid white;
    margin: 20px auto;
}

.row {
    width: 100%;
}

.row > div {
    width:100px;
    height:100px;
    font-size: 4em;
    margin: 8px 8px;
    text-align: center;
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
}

.row > div:hover {
    cursor: pointer;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.2);
}

